/.editorconfig
/.vscode
/BST.cpp
/a.out
/ads4
/ads4.cpp
/ads5
/ads6.h
/ads6m
/ads6m.cpp
/ads7
/ads7.cpp
/ads8
/ads8.cpp
/bst.h
/circledoublelinklist.cpp
/circledoublelinklst.h
/client
/client.cc
/courcework
/courceworkgood
/fact
/fact.cc
/fact.cpp
/goodcource
/mutex.cc
/mutex2
/mutex2.cc
/ncurses
/preparing
/sergver.cc
/server
/server.cc
/start.cc
/start2
/start2.cc
/start2.cpp
/suzdalev_good_perm_tree.h
/suzdalev_guud_perm_tree.cpp
/test.cpp
/testege
/testege.cpp
/textch
/time
/time.cc
/tp.h
/tpqueue.h
/tree.cpp
/tree.h
/tree.h.gch
/tree1.cpp
/tree1.h
/tree1.h.gch
/tree1main.cpp
/treemain.cpp
/ttest.cpp
/war_peace.txt
/wq